/* CSS declarations go here */
.nav-pills li{
	margin : 5px;
	
}
a{
	color:grey;
}
.jumbotron{font-size: 50px;
text-align: center;}

html{
	background-image: url("http://orig10.deviantart.net/48c0/f/2016/204/4/b/retrowave_80_s_bg_by_rafael_de_jongh-d9wsq5j.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-size: 100%;
}