/* CSS declarations go here */
.nav-pills li{
	margin : 5px;
	
}
a{
	color:grey;
}
.jumbotron{font-size: 25px;
text-align: center;}

#navbar_main{
	background-image: url("http://orig10.deviantart.net/48c0/f/2016/204/4/b/retrowave_80_s_bg_by_rafael_de_jongh-d9wsq5j.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-size: 100%;
}
body{
	background-image: url("https://cdn.shutterstock.com/shutterstock/videos/7805119/thumb/12.jpg?i10c=img.resize(height:160)");
	/*https://s-media-cache-ak0.pinimg.com/originals/09/de/cd/09decdb46ab8a4cf2d889635f91b7ae1.jpg*/
	background-size: 100%;
}
button{margin: 5px;}
h2{margin : 50px;width: 100%;}
img{height: 100px;width: 100px;margin: 50px }
.container{border-style: solid;}