/* CSS declarations go here */

.nav-pills li{
	margin : 5px;
	
}
a{
	color:grey;
}
.jumbotron{font-size: 25px;
text-align: center;}

body{
	background-image: url("http://orig03.deviantart.net/7737/f/2009/202/0/f/old_newspaper_texture_by_powerpuffjazz.jpg");
	/**/
	height: 100%;
	width: 100%;
}
button{margin: 5px;}
h2{margin : 50px;width: 100%;}
img{height: 100px;width: 100px;margin: 50px }
	
#login_form {
	
	margin-top: 1000px;

}
#thumbnail{
	 max-width: 100%;
	background-color:transparent;
	
}
#thumbnail img{
	 width: 100%;
	
}
#sign_up{
	margin-top : 50px;
}
#login{
	margin-top: 50px;
}
.displayed_messages{
	margin: 10px;
	overflow-y: scroll;
	height : 500px;
}
#createchat_container{
	margin:100px;
}
#createchat_name input{

	 border: 2px solid;
    border-radius: 25px;
    font-size:75px;
   
}
#createchat_name input:focus{
     border-color: #cc00cc;
}
