<template name="messages">
<div class = "displayed_messages">
  {{#each messages}}
  <div class="message">
 
  <p>
     <span>{{user}} ---</span>

      <span>{{time this.time }}</span>
    </p>
    <p>
      <span>{{this.message}}</span>
    </p>
    <div class="clearfix"></div>
  </div>
{{/each}}
</div>

</template>
<template name = "messageBox">
	<div class = "container">
		<form>
			<textarea name = "message"></textarea>
			<button class = "btn btn-default"  id = "newMessage" type = "submit">Submit</button>
		</form>
	</div>
</template>