<template name = "messages">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-envelope"></span> <span style="font-size:25px">{{#each chatroomname}}{{this.name}}{{/each}}</span><br>  <span>admin: {{user}}</span>
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </button>
                        <ul class="dropdown-menu slidedown">
                           
                            <li><a href="{{pathFor route=''}}"><span class="glyphicon glyphicon-off"></span>
                                Sign Out</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body">
                    <ul class="chat">
<div class="chat-body clearfix">
                                    {{#each messages}}
                      <li>
                            
                                <div class="header">
                                    <strong class="primary-font"><a href="{{pathFor route = 'user-profile' _user = this.username}}">{{user}}</a>: </strong> 
                                </div>
                                <p>
                                  <div class = "displayed_messages">
                    
                                      <p class="message">
                                        {{time this.time}},  
                                        <span class="click-me">{{text}}</span>
                                      </p>    
                            </div>
                                </p>
                          
                      </li>  
                      {{/each}}
                   </div>       
                    </ul>

                </div>
               {{>messageBox}}
            </div>
        </div>
    </div>
</div>
 
</template>

<template name = "messageBox">
	<div class="row send-wrap">
  
   <div class="panel-footer">
   <form class = "form-horizontal">
                <div class="input-group">
                <ul>
                <li>
                        <input id="btn-input" name = "message" type="text" class="form-control input-lg" placeholder="Type your message here...">
                  </li>
                  <li> 
                    <span class="input-group-btn" >
                            <button class="btn btn-default btn-lg" id="btn-chat" type = "submit">
                                Send
                                </button>
                        </span>
                        </li>
                  </ul>
                </div>
                    
          </form>
      </div>
      </div>
</template>
  

  <template name="messages1">
<div class = "displayed_messages">
 {{chatroomName}}
        {{#each messages}}
          <p class="message">
            {{time this.time}}, 
            <a href="{{pathFor route = 'user-profile' _user = this.username}}">{{this.username}}</a>: 
            <span class="click-me">{{text}}</span>
          </p>
        {{/each}}
</div>

       <div class="send-message">
                        <div class="message-text col-md-8">
                            <textarea class="form-control " rows="2" name = "message" placeholder="Write a message..."></textarea>
                        </div>
                        <div class="send-button">
                            <button class="btn" type = "submit">Send <i class="fa fa-send"></i></button>
                        </div>
                    </div>
                         
</template>