
<template name = "dashboard">
<body>

    <div id="wrapper">

      <!-- Sidebar -->
   
      <div id="page-wrapper">

    
        <div id = "poll" class="row">
          <div class="col-lg-4">
            <div  class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="glyphicon glyphicon-log-in"></i>Have Your Say!</h3>
              </div>
              <div>
              <script>(function(i,s,o,g,r,a,m){i['QP']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//scripts.poll-maker.com/3012/pollembed.js','qp');</script>
              <a href='http://www.poll-maker.com' poll='1025341x3cC81213-43' style='width:100%;height:75%; display:block; text-align:right;'> </a>
              </div>
             
            </div>
          </div>
          <div class="col-lg-4">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-clock-o"></i> Recent Activity</h3>
              </div>
              <div class="panel-body" id = "all-chatrooms">
                <div class="list-group">
                 Chatrooms:
                  {{#each chatroom}}
                   
                       <a href = "{{pathFor 'chatRoom' _id=_id}}"> <th>Chatroom name : {{this.name}} Time : {{time this.timestamp}}</th></a>
                           
                        {{else}}
                         <p>No chat rooms.</p>
                   {{/each}}
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="panel panel-primary" >
              <div class="panel-heading">
                <h3 class="panel-title"><i class="glyphicon glyphicon-hand-down"></i>           Twitter Feed</h3>
              </div>
              <div class="panel-body" id = "twitter-feed-panel">
              <div >
                <div class="twitter-responsive">
                  <a class="twitter-timeline" href="https://twitter.com/BabbleChatrooms">Tweets by BabbleChatrooms</a> 
                  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                <div class="text-right">
                  <a href="#">View All <i class="fa fa-arrow-circle-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
</div>
  </body>
</template>